<div class="ui container">
  <div class="ui segment">
    <div class="ui segment">
      <i style="float:left" class="large table icon">Models\Project</i>
      <h5>New Object creation</h5>
    </div>

    <form class="ui form">
      <div class="field">
        <label>Name</label>
        <Input type="text" name="name" @value={{model.name}}></Input>
      </div>
      <div class="field">
        <label>Descriptif</label>
        <Textarea name="descriptif" @value={{model.descriptif}}></Textarea>
      </div>

      <table>
        <tr>
          <td>
            <div class="field">
              <label>startDate</label>
              <Input type="date" name="startDate" @value={{model.startDate}} ></Input>
            </div>
          </td>
          <td>
            <div class="field">
              <label>dueDate</label>
              <Input type="date" name="dueDate" @value={{model.dueDate}}></Input>
            </div>
          </td>
        </tr>
      </table><br>
      <div class="field">
        <label>Owner</label>
        {{#ui-dropdown class="selection" onChange=(action (mut model.owner)) as |execute mapper|}}
          <div class="default text">Owner</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each model.developers as |developer|}}
              <div data-value={{map-value mapper developer}} class="item">
                {{developer.identity}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>

      {{#link-to "projects" }}<button class="ui green button" type="submit" {{action "addProject" model}}>Ajouter</button>{{/link-to}}
      <a href="http://localhost:4200/projects" class="ui button">Annuler</a>
    </form>
  </div>
</div>
{{outlet}}