<div class="ui container">
  <div>
    <i style="float:left" class="large table icon">Models\Developers</i>
    <br>
    <br>
  </div>

  {{#link-to "developers.add" }}<button class="ui orange button">Add a new models\Developer...</button>{{/link-to}}

  <table class="ui celled table">
    <thead>
    <tr><th>Identity</th>
    </tr></thead>
    <tbody>
    {{#each model as |developer|}}
      <tr>
        <td>
          {{developer.identity}}
          <div style="float:right">
            <LinkTo @route="developers.edit" @model={{developer}} class="btn btn-info">{{fa-icon "table"}}</LinkTo>
            <LinkTo @route="developers.delete" @model={{developer}} class="btn btn-danger">{{fa-icon "times"}}</LinkTo>
          </div>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<br>
<br>
{{outlet}}
